DISCORD_BOT_TOKEN="<Discord bot token>"
DISCORD_WEBHOOK_URL="<Discord webhook URL>"
DISCORD_CONSOLE_WEBHOOK_URL="<Discord webhook URL>"
DISCORD_CHANNEL_ID="<Discord channel ID>"
DISCORD_CONSOLE_CHANNEL_ID="<Discord channel ID>"
DISCORD_OPERATOR_ROLE_ID="<Discord role ID>"
SERVER_DIRECTORY="<Path to the server's root directory>"
